.App {
  font-family: sans-serif;
  text-align: center;
  padding: 50;
  border: 3px solid black;
  margin: 60px auto;
  padding: 40px;
}
.submission {
  text-align: left;
}
.weatherDescription {
  list-style: none;
}